@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.carousel {
  height: 20rem;
  width: 100%;

  @include media-breakpoint-up(md) {
    height: 30rem;
    width: 75%;
  }
}

.graphicsDesign {
  background-image: url('../../../assets/images/graphic_design.jpg');
  background-position: center;
  background-size: cover;
}

.programming {
  background-image: url('../../../assets/images/programming.jpg');
  background-position: center;
  background-size: cover;
}

.devops {
  background-image: url('../../../assets/images/devops.jpg');
  background-position: center;
  background-size: cover;
}
