.carousel {
  height: 30rem;
}

.graphicsDesign {
  background-image: url('../../../assets/images/graphic_design.jpg');
  background-position: center;
  background-size: cover;
}

.programming {
  background-image: url('../../../assets/images/programming.jpg');
  background-position: center;
  background-size: cover;
}

.devops {
  background-image: url('../../../assets/images/devops.jpg');
  background-position: center;
  background-size: cover;
}
